@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply inline-flex items-center justify-center px-4 py-2  rounded-md font-medium transition duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2;
    }

    .btn-primary {
        @apply btn bg-blue-600 text-white hover:bg-blue-400 hover:shadow-lg focus:ring-blue-400 hover:translate-y-1 transition;
    }

    .btn-secondry {
        @apply btn bg-pink-600 text-white hover:bg-pink-500 hover:shadow-lg focus:ring-pink-400 hover:translate-y-1 transition;
    }

    .btn-outline {
        @apply btn border border-blue-600 text-blue-600 hover:shadow-lg focus:ring-blue-400 hover:translate-y-1 transition;
    }

    .btn-sm {
        @apply btn px-3 py-1 bg-pink-600 text-white hover:bg-blue-400 hover:shadow-lg focus:ring-blue-400 hover:translate-y-1 transition;
    }

    .section-theme{

        @apply max-w-7xl mx-auto px-4 py-12;
    }


}


@layer utilities {
    .animate-marquee {
        animation: marquee 18s linear infinite;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}